body{
    background-color: #DFD3C3
}
hr{
    border-style: none;
    border-top-color: #7D6E83;
    border-top-style: dotted;
    border-width:6px;
    width: 5%;


}

h1{
    color: #7D6E83;
}

h3{
    color: #1C6758;
}
